# Import libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelBinarizer, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.svm import SVC
from sklearn.metrics import f1_score

# Extract data

## Read data
Define place of files.

In [2]:
data_folder = "data"
features_path = f"{data_folder}/tabular_data.csv"
hashed_features_path = f"{data_folder}/hashed_feature.csv"
labels_path = f"{data_folder}/train.csv"
test_df_path = f"{data_folder}/test.csv"

Features.

In [3]:

features = pd.read_csv(features_path,index_col=0)
features.head()

    period  feature_0  feature_1  ...  feature_47  feature_48  feature_49
id                                ...
0        1      110.0       55.0  ...       145.0      133.28         0.0
0        2      110.0      110.0  ...       130.0      229.97         0.0
0        3      110.0       55.0  ...       180.0      231.78         0.0
0        4      110.0       55.0  ...       142.0      183.83         0.0
0        5      110.0       55.0  ...        85.0      155.83         0.0

[5 rows x 51 columns]

Hashed data about user.

In [4]:

hashed_features = pd.read_csv(hashed_features_path, index_col=0)
hashed_features.head()

                                  feature_50
id
0   7984b0a0e139cabadb5afc7756d473fb34d23819
0   47904b3331202e9881d003ff449c2eabfbc75460
0   a99c4b3af723874ddd85af322beea81b64437294
0   4dce5381031a88aed6b12ef71b6f7c3148e7b3c8
0   d62db721202cb6636887f450a7b77fa97db03b05

In [5]:

labels = pd.read_csv(labels_path, index_col=0)
labels.head()

    target
id
0        0
1        0
2        1
3        0
4        1

In [6]:

test = pd.read_csv(test_df_path, index_col=0)
test.head()

      score
id
4084    NaN
4085    NaN
4086    NaN
4087    NaN
4088    NaN

## Build data frames
First build train data frame

In [7]:

train_users_id = labels.index.unique()
train_users = features.loc[train_users_id]
train_df = pd.concat((train_users, labels), axis=1)
train_df.head()

    period  feature_0  feature_1  ...  feature_48  feature_49  target
id                                ...
0        1      110.0       55.0  ...      133.28         0.0       0
0        2      110.0      110.0  ...      229.97         0.0       0
0        3      110.0       55.0  ...      231.78         0.0       0
0        4      110.0       55.0  ...      183.83         0.0       0
0        5      110.0       55.0  ...      155.83         0.0       0

[5 rows x 52 columns]

Second get test data frame

In [8]:
test_users_id = test.index.unique()
test_df = features.loc[test_users_id]
test_df.head()

      period  feature_0  feature_1  ...  feature_47  feature_48  feature_49
id                                  ...
4084       1      110.0      77.66  ...        31.0      120.75         2.0
4084       2      110.0     161.86  ...        29.0      117.13         1.0
4084       3      110.0      85.00  ...       151.0       93.80         2.0
4084       4      110.0      78.00  ...       214.0      142.47         1.0
4084       5      110.0      85.08  ...       121.0       47.97         3.0

[5 rows x 51 columns]

# Preprocessing
Check type of each column. As we can see 'feature_25' is object. All other

In [9]:
features.dtypes

period          int64
feature_0     float64
feature_1     float64
feature_2     float64
feature_3     float64
feature_4     float64
feature_5     float64
feature_6     float64
feature_7     float64
feature_8     float64
feature_9     float64
feature_10    float64
feature_11    float64
feature_12    float64
feature_13    float64
feature_14    float64
feature_15    float64
feature_16    float64
feature_17    float64
feature_18    float64
feature_19    float64
feature_20    float64
feature_21    float64
feature_22    float64
feature_23    float64
feature_24    float64
feature_25     object
feature_26    float64
feature_27    float64
feature_28    float64
feature_29    float64
feature_30    float64
feature_31    float64
feature_32    float64
feature_33    float64
feature_34    float64
feature_35    float64
feature_36    float64
feature_37    float64
feature_38    float64
feature_39    float64
feature_40    float64
feature_41      int64
feature_42    float64
feature_43    float64
feature_44    float64
feature_45    float64
feature_46    float64
feature_47    float64
feature_48    float64
feature_49    float64
dtype: object

Let`s check does 'feature_25' has missed values.

In [10]:
features["feature_25"].isnull().any()

False

Index is not unique now in train data frame. We should change it.

In [11]:
train_df = train_df.reset_index()
train_df.head(2)

   id  period  feature_0  feature_1  ...  feature_47  feature_48  feature_49  target
0   0       1      110.0       55.0  ...       145.0      133.28         0.0       0
1   0       2      110.0      110.0  ...       130.0      229.97         0.0       0

[2 rows x 53 columns]

Index is not unique now in test data so we need to change it.

In [12]:
test_df = test_df.reset_index()
test_df.head(2)

     id  period  feature_0  ...  feature_47  feature_48  feature_49
0  4084       1      110.0  ...        31.0      120.75         2.0
1  4084       2      110.0  ...        29.0      117.13         1.0

[2 rows x 52 columns]

## Remove outliers

Discover numerical features

In [13]:
not_numerical_features = ["period", "feature_25", "id"]
numerical_features = [feature for feature in features.columns if feature not in not_numerical_features]
train_num_df = train_df[numerical_features]
train_num_df = train_num_df.fillna(train_num_df.mean())
train_num_df.head(3)

   feature_0  feature_1  feature_2  ...  feature_47  feature_48  feature_49
0      110.0       55.0   0.432017  ...       145.0      133.28         0.0
1      110.0      110.0   0.397517  ...       130.0      229.97         0.0
2      110.0       55.0   0.359440  ...       180.0      231.78         0.0

[3 rows x 49 columns]

In [14]:
res = np.abs(train_num_df - train_num_df.mean()) <= (3 * train_num_df.std())
outliers_index = res.all(axis=1).values
outliers_index

array([ True,  True, False, ..., False, False, False])

Get from train_df only not outliers.

In [15]:
train_df = train_df[outliers_index]
train_df.head(3)

   id  period  feature_0  feature_1  ...  feature_47  feature_48  feature_49  target
0   0       1      110.0       55.0  ...       145.0      133.28         0.0       0
1   0       2      110.0      110.0  ...       130.0      229.97         0.0       0
3   0       4      110.0       55.0  ...       142.0      183.83         0.0       0

[3 rows x 53 columns]

## Replace missing data

### Prepare replace data
For train tepends on target and period:

In [16]:
train_mean_values = train_df.groupby(["target", "period"]).mean().fillna(0)
train_mean_values.head(3)

                        id   feature_0  ...  feature_48  feature_49
target period                           ...
0      1       2011.210133  110.025599  ...  218.254391    6.866558
       2       2039.576754  110.011192  ...  232.956051    7.253773
       3       2026.034067  110.012945  ...  222.154943    7.266234

[3 rows x 50 columns]

For test depends on period:

In [17]:
test_mean_values = train_df.groupby("period").mean().fillna(0)
test_mean_values.head(3)

                 id   feature_0  feature_1  ...  feature_48  feature_49    target
period                                      ...
1       2031.356602  110.025173  74.601172  ...  216.045960    7.106418  0.252094
2       2039.925176  110.009688  76.701105  ...  228.301479    7.661901  0.245969
3       2033.960207  110.012689  75.430730  ...  218.020505    7.638900  0.240748

[3 rows x 51 columns]

### Train data

Replace missing values in train data frame.

In [18]:
def replace_train_missing(raw):
  period = raw["period"]
  target = raw["target"]
  indices_where_nan = raw[raw.isna()].index
  raw[indices_where_nan] = train_mean_values.loc[(target, period), indices_where_nan]
  return raw

train_df = train_df.apply(replace_train_missing, axis=1)
train_df.head(3)

   id  period  feature_0  feature_1  ...  feature_47  feature_48  feature_49  target
0   0       1      110.0       55.0  ...       145.0      133.28         0.0       0
1   0       2      110.0      110.0  ...       130.0      229.97         0.0       0
3   0       4      110.0       55.0  ...       142.0      183.83         0.0       0

[3 rows x 53 columns]

Assert all nan values are replaced in train data.

In [19]:
train_df.isna().any().any()

False

### Test data

Replace missing values in test data frame.

In [20]:
def replace_test_missing(raw):
  period = raw["period"]
  indices_where_nan = raw[raw.isna()].index
  raw[indices_where_nan] = test_mean_values.loc[period, indices_where_nan]
  return raw

test_df = test_df.apply(replace_test_missing, axis=1)
test_df.head(3)

     id  period  feature_0  ...  feature_47  feature_48  feature_49
0  4084       1      110.0  ...        31.0      120.75         2.0
1  4084       2      110.0  ...        29.0      117.13         1.0
2  4084       3      110.0  ...       151.0       93.80         2.0

[3 rows x 52 columns]

Assert there is no nan values now in test data.

In [21]:
test_df.isna().any().any()

False

#Processing

In [22]:
num_scaler = StandardScaler().fit(train_df[numerical_features])
hash_scaler = LabelBinarizer().fit(train_df["feature_25"])

In [23]:
def normalize(data):
  data = data.copy()
  num_data = data[numerical_features]
  string_data = data["feature_25"]
  normed_num_data = num_scaler.transform(num_data)
  normed_string_data = hash_scaler.transform(string_data)
  data[numerical_features] = normed_num_data
  del data["feature_25"]
  cols = ["feature_" + col_name for col_name in hash_scaler.classes_]
  data[cols] = normed_string_data
  return data

In [24]:
train_df = normalize(train_df)
train_df.head(3)

   id  ...  feature_f9ae10397ed62e79c644d06842bbcd92963a5927
0   0  ...                                                 1
1   0  ...                                                 1
3   0  ...                                                 1

[3 rows x 60 columns]

## Choosing model by brute force

Function for choosing models

In [25]:
informative_features = [feature_name for feature_name in train_df.columns if feature_name.startswith("feature")]
informative_features

['feature_0',
 'feature_1',
 'feature_2',
 'feature_3',
 'feature_4',
 'feature_5',
 'feature_6',
 'feature_7',
 'feature_8',
 'feature_9',
 'feature_10',
 'feature_11',
 'feature_12',
 'feature_13',
 'feature_14',
 'feature_15',
 'feature_16',
 'feature_17',
 'feature_18',
 'feature_19',
 'feature_20',
 'feature_21',
 'feature_22',
 'feature_23',
 'feature_24',
 'feature_26',
 'feature_27',
 'feature_28',
 'feature_29',
 'feature_30',
 'feature_31',
 'feature_32',
 'feature_33',
 'feature_34',
 'feature_35',
 'feature_36',
 'feature_37',
 'feature_38',
 'feature_39',
 'feature_40',
 'feature_41',
 'feature_42',
 'feature_43',
 'feature_44',
 'feature_45',
 'feature_46',
 'feature_47',
 'feature_48',
 'feature_49',
 'feature_11e623a37e87cf7995c466723ec99688d55cae8c',
 'feature_390c481a740bb1c12c57f33dc5263ced2ab11796',
 'feature_aa2c96dacf00c451ef465f6115a45a20bccf1256',
 'feature_b204e1e3743cc314841070435211e25f4602b9fd',
 'feature_cf3cca1da7361bd988642600e76c4a3021be8ccf',
 'feature_cf7413906c99be47067cb3fb6299959857710d77',
 'feature_d458ece2abeae803254c5d442b2e2a80f58a4153',
 'feature_f9ae10397ed62e79c644d06842bbcd92963a5927']

In [26]:
classifiers = [
             RandomForestClassifier(),
             SVC(kernel="linear", C=0.02),
             SVC(gamma=2, C=1),
             QuadraticDiscriminantAnalysis()
]

In [27]:
def choose_best_model():
  results = list()
  for classifier in classifiers:
    for i in range(5):
      x_train, x_test, y_train, y_test = train_test_split(train_df[informative_features], train_df["target"], test_size=0.1, random_state=i)
      model = classifier.fit(x_train, y_train)
      y_predicted = model.predict(x_test)
      f1_calc_score = f1_score(y_test, y_predicted)
      results.append((model, f1_calc_score))
  return max(results, key=lambda pair: pair[1])

In [28]:
best_model, best_score = choose_best_model()
best_score

/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:691: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")
/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:691: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")
/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:691: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")
/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:691: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")
/usr/local/lib/python3.6/dist-packages/sklearn/discriminant_analysis.py:691: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

0.5921397379912664

In [30]:
normalized_test_data = normalize(test_df)
normalized_test_data.head()

     id  ...  feature_f9ae10397ed62e79c644d06842bbcd92963a5927
0  4084  ...                                                 1
1  4084  ...                                                 1
2  4084  ...                                                 1
3  4084  ...                                                 1
4  4084  ...                                                 1

[5 rows x 59 columns]

In [51]:
normalized_test_data["score"] = best_model.predict(normalized_test_data[informative_features])
result = normalized_test_data.groupby(["id"]).mean()["score"].round().astype(int)
result = pd.DataFrame(result)
result.head()

      score
id
4084      0
4085      0
4086      0
4087      0
4088      0

In [52]:
result.to_csv("output.csv", header=result.columns)