In [1]:
import pandas as pd

Place of files

In [2]:
data_folder = "data"
features_path = f"{data_folder}/tabular_data.csv"
hashed_features_path = f"{data_folder}/hashed_feature.csv"
labels_path = f"{data_folder}/train.csv"
test_df_path = f"{data_folder}/test.csv"

Import data

In [3]:
# features
features = pd.read_csv(features_path,index_col=0)
features.head()

,period,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49
id,,,,,,,,,,,,,,,,,,,,,
0,1,110.0,55.0,0.432017,0.000000,176.78,0.0,0.323712,NaN,147.0,...,0.00,0,0.000000,0.0,55.0,2.0,0.526552,145.0,133.28,0.0
0,2,110.0,110.0,0.397517,0.000000,315.42,0.0,0.316798,NaN,135.0,...,0.00,0,0.000000,0.0,110.0,1.0,0.481063,130.0,229.97,0.0
0,3,110.0,55.0,0.359440,0.000000,354.55,0.0,0.339188,NaN,181.0,...,0.07,0,0.000000,0.0,55.0,1.0,0.509598,180.0,231.78,0.0
0,4,110.0,55.0,0.285707,0.000000,229.98,0.0,0.415428,NaN,142.0,...,0.00,0,0.000000,0.0,55.0,0.0,0.680089,142.0,183.83,0.0
0,5,110.0,55.0,0.101487,444.730391,307.12,0.0,0.569670,NaN,92.0,...,0.95,0,20.014485,0.0,55.0,0.0,0.776175,85.0,155.83,0.0

In [4]:
# hashed categorical features
hashed_features = pd.read_csv(hashed_features_path, index_col=0)
hashed_features.head()

                                  feature_50
id
0   7984b0a0e139cabadb5afc7756d473fb34d23819
0   47904b3331202e9881d003ff449c2eabfbc75460
0   a99c4b3af723874ddd85af322beea81b64437294
0   4dce5381031a88aed6b12ef71b6f7c3148e7b3c8
0   d62db721202cb6636887f450a7b77fa97db03b05

In [5]:
# class labels
labels = pd.read_csv(labels_path, index_col=0)
labels.head()

    target
id
0        0
1        0
2        1
3        0
4        1

In [6]:
# test data
test_df = pd.read_csv(test_df_path, index_col=0)
test_df.head()

      score
id
4084    NaN
4085    NaN
4086    NaN
4087    NaN
4088    NaN